<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DO_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,81},{62,78}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{62,78}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{64,78}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{64,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,239},{62,78}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,160},{62,78}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{62,78}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,80}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{64,80}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{62,80}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{62,80}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,397},{62,78}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,239},{62,78}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,318},{62,78}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>DO_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,397},{62,78}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{62,78}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailyOfferButtonAnimation.png</string>
            <key>size</key>
            <string>{127,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9480062613a79e0d44390c00ada44884:a8317d0df6d37c71a578d442454c1f90:a3bc0436b89fbef253c98af1822abdd5$</string>
            <key>textureFileName</key>
            <string>dailyOfferButtonAnimation.png</string>
        </dict>
    </dict>
</plist>
