<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gem_tab_selected_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{52,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gem_tab_selected_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{50,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gem_tab_selected_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gem_tab_selected_animation.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a00002d73a9d14f371d6a541e88bc10$</string>
            <key>textureFileName</key>
            <string>gem_tab_selected_animation.png</string>
        </dict>
    </dict>
</plist>
