<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SP_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,144},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,286},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,428},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,570},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,712},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,854},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,996},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1138},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1280},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1422},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1564},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>SP_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>offerButtonAnimation.png</string>
            <key>size</key>
            <string>{206,1848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b48bead9dddc2471d9bf455b324e2da:067fb94a198418db0c65e4f0604776fa:8b5c84025e8390ef099fbe8193cd830e$</string>
            <key>textureFileName</key>
            <string>offerButtonAnimation.png</string>
        </dict>
    </dict>
</plist>
