<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>timer_animation0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>timer_animation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{44,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>timer_animation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{44,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>timer_animation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,45},{44,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timer_animation.png</string>
            <key>size</key>
            <string>{115,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62659dcf050355646a5f82effe18ca5b:dfe0fb77863c8914e7745c65df42964b:7f319598bdb12ea9c58b327367374dcd$</string>
            <key>textureFileName</key>
            <string>timer_animation.png</string>
        </dict>
    </dict>
</plist>
