<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>class</key>
					<string>LabelTTF</string>
					<key>content</key>
					<string>BILLIARDS</string>
					<key>fontSize</key>
					<string>100</string>
					<key>localizable</key>
					<string>0</string>
					<key>name</key>
					<string>title</string>
					<key>posAbs</key>
					<string>-45.6612,-238.974</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>scaleX</key>
					<string>112.57</string>
					<key>scaleY</key>
					<string>20</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
				<dict>
					<key>class</key>
					<string>MenuItemImage</string>
					<key>disabled</key>
					<string>arrow_up.png</string>
					<key>disabledSize</key>
					<string>117,117</string>
					<key>name</key>
					<string>leftArrow</string>
					<key>normal</key>
					<string>arrow_up.png</string>
					<key>normalSize</key>
					<string>117,117</string>
					<key>posAbs</key>
					<string>336.372,731.714</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>rotation</key>
					<string>270</string>
					<key>selected</key>
					<string>arrow_up.png</string>
					<key>selectedSize</key>
					<string>117,117</string>
					<key>sizeAbs</key>
					<string>234,234</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
				<dict>
					<key>class</key>
					<string>MenuItemImage</string>
					<key>disabled</key>
					<string>arrow_down.png</string>
					<key>disabledSize</key>
					<string>117,117</string>
					<key>name</key>
					<string>rightArrow</string>
					<key>normal</key>
					<string>arrow_down.png</string>
					<key>normalSize</key>
					<string>117,117</string>
					<key>posAbs</key>
					<string>655.664,741.052</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>rotation</key>
					<string>270</string>
					<key>selected</key>
					<string>arrow_down.png</string>
					<key>selectedSize</key>
					<string>117,117</string>
					<key>sizeAbs</key>
					<string>234,234</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
				<dict>
					<key>class</key>
					<string>LabelTTF</string>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<string>100</string>
					<key>localizable</key>
					<string>0</string>
					<key>name</key>
					<string>numOfBalls</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
			</array>
			<key>class</key>
			<string>Sprite</string>
			<key>image</key>
			<string>background_clue.png</string>
			<key>imageSize</key>
			<string>794,679</string>
			<key>name</key>
			<string>background</string>
			<key>posAbs</key>
			<string>-37.723,-40.6608</string>
			<key>posRel</key>
			<string>0,0</string>
			<key>scaleX</key>
			<string>0.651371</string>
			<key>scaleY</key>
			<string>0.53079</string>
			<key>sizeAbs</key>
			<string>1588,1358</string>
			<key>sizeRel</key>
			<string>0,0</string>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>device</key>
		<string>iPhone</string>
		<key>deviceFactor</key>
		<string>1</string>
		<key>deviceSize</key>
		<string>480,320</string>
		<key>shouldRemoveDevExt</key>
		<string>0</string>
		<key>version</key>
		<string>1.4</string>
	</dict>
</dict>
</plist>
