<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eventFilterNum</key>
		<array>
			<string>100018</string>
			<string>100026</string>
			<string>100032</string>
			<string>100034</string>
			<string>100037</string>
			<string>100040</string>
			<string>100055</string>
			<string>100062</string>
			<string>100063</string>
			<string>100069</string>
		</array>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Read 1 story in the Mona Series</string>
				<key>gameCenterId</key>
				<string>Mona Addict I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQBw</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>3</string>
				<key>description</key>
				<string>Read 3 stories in the Mona Series</string>
				<key>gameCenterId</key>
				<string>Mona Addict II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQCA</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Read 5 stories in the Mona Series</string>
				<key>gameCenterId</key>
				<string>Mona Addict III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQCQ</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50000</string>
		<key>title</key>
		<string>Mona Addict</string>
		<key>trackingEvent</key>
		<string>storyCompleted</string>
	</dict>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Read 1 story</string>
				<key>gameCenterId</key>
				<string>My Story Expert I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQGQ</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Read 5 stories </string>
				<key>gameCenterId</key>
				<string>My Story Expert II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQGg</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>10</string>
				<key>description</key>
				<string>Read 10 stories </string>
				<key>gameCenterId</key>
				<string>My Story Expert III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQGw</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50006</string>
		<key>title</key>
		<string>My Story Expert</string>
		<key>trackingEvent</key>
		<string>storyCompleted</string>
	</dict>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Choose a premium outfit 5 times</string>
				<key>gameCenterId</key>
				<string>Nothing To Wear! I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQDQ</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>10</string>
				<key>description</key>
				<string>Choose a premium outfit 10 times</string>
				<key>gameCenterId</key>
				<string>Nothing To Wear! II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQDg</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>20</string>
				<key>description</key>
				<string>Choose a premium outfit 20 times</string>
				<key>gameCenterId</key>
				<string>Nothing To Wear! III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQDw</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50002</string>
		<key>title</key>
		<string>Nothing To Wear!</string>
		<key>trackingEvent</key>
		<string>clothesBought</string>
	</dict>
	<dict>
		<key>eventFilterNum</key>
		<array>
			<string>100064</string>
			<string>100041</string>
			<string>100039</string>
			<string>100033</string>
			<string>100006</string>
			<string>100015</string>
			<string>100043</string>
			<string>100046</string>
			<string>100049</string>
			<string>100054</string>
			<string>100051</string>
			<string>100056</string>
			<string>100067</string>
			<string>100066</string>
			<string>100065</string>
		</array>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Read 1 story from the Romance shelf</string>
				<key>gameCenterId</key>
				<string>Hopeless Romantic I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQEA</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>3</string>
				<key>description</key>
				<string>Read 3 stories from the Romance shelf</string>
				<key>gameCenterId</key>
				<string>Hopeless Romantic II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQEQ</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>6</string>
				<key>description</key>
				<string>Read 6 stories from the Romance shelf</string>
				<key>gameCenterId</key>
				<string>Hopeless Romantic III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQEg</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50003</string>
		<key>title</key>
		<string>Hopeless Romantic</string>
		<key>trackingEvent</key>
		<string>storyCompleted</string>
	</dict>
	<dict>
		<key>eventFilterNum</key>
		<array>
			<string>100036</string>
			<string>100042</string>
			<string>100001</string>
			<string>100002</string>
			<string>100004</string>
			<string>100039</string>
			<string>100027</string>
			<string>100061</string>
		</array>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Read 1 story from the Drama shelf</string>
				<key>gameCenterId</key>
				<string>Drama Queen I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQEA</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>3</string>
				<key>description</key>
				<string>Read 3 stories from the Drama shelf</string>
				<key>gameCenterId</key>
				<string>Drama Queen II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQFA</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>6</string>
				<key>description</key>
				<string>Read 6 stories from the Drama shelf</string>
				<key>gameCenterId</key>
				<string>Drama Queen III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQFg</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50004</string>
		<key>title</key>
		<string>Drama Queen</string>
		<key>trackingEvent</key>
		<string>storyCompleted</string>
	</dict>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Change your hairstyle 1 time</string>
				<key>gameCenterId</key>
				<string>New Hair, Who Dis? I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQHA</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Change your hairstyle 5 times</string>
				<key>gameCenterId</key>
				<string>New Hair, Who Dis? II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQHQ</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>10</string>
				<key>description</key>
				<string>Change your hairstyle 10 times</string>
				<key>gameCenterId</key>
				<string>New Hair, Who Dis? III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQHg</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50007</string>
		<key>title</key>
		<string>New Hair, Who Dis?</string>
		<key>trackingEvent</key>
		<string>hairStyleBought</string>
	</dict>
	<dict>
		<key>eventFilter</key>
		<string>gems</string>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Purchase diamonds</string>
				<key>gameCenterId</key>
				<string>VIP Treatment I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQHw</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>3</string>
				<key>description</key>
				<string>Purchase diamonds 3 times</string>
				<key>gameCenterId</key>
				<string>VIP Treatment II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQIA</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Purchase diamonds 5 times</string>
				<key>gameCenterId</key>
				<string>VIP Treatment III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQIQ</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50008</string>
		<key>title</key>
		<string>VIP Treatment</string>
		<key>trackingEvent</key>
		<string>currencyBoughtSuccessfully</string>
	</dict>
	<dict>
		<key>eventFilter</key>
		<string>tickets</string>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Purchase tickets</string>
				<key>gameCenterId</key>
				<string>Can&apos;t Get Enough I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQIg</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>3</string>
				<key>description</key>
				<string>Purchase tickets 3 times</string>
				<key>gameCenterId</key>
				<string>Can&apos;t Get Enough II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQIw</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Purchase tickets 5 times</string>
				<key>gameCenterId</key>
				<string>Can&apos;t Get Enough III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQJA</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50009</string>
		<key>title</key>
		<string>Can&apos;t Get Enough</string>
		<key>trackingEvent</key>
		<string>currencyBoughtSuccessfully</string>
	</dict>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Select the premium choice 1 time</string>
				<key>gameCenterId</key>
				<string>Tell Me Everything I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQJQ</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>5</string>
				<key>description</key>
				<string>Select the premium choice 5 times</string>
				<key>gameCenterId</key>
				<string>Tell Me Everything II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQJg</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>15</string>
				<key>description</key>
				<string>Select the premium choice 15 times</string>
				<key>gameCenterId</key>
				<string>Tell Me Everything III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQJw</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50010</string>
		<key>title</key>
		<string>Tell Me Everything</string>
		<key>trackingEvent</key>
		<string>premiumChoiceSelected</string>
	</dict>
	<dict>
		<key>eventFilterNum</key>
		<array>
			<string>100016</string>
			<string>100021</string>
			<string>100030</string>
			<string>100047</string>
			<string>100048</string>
			<string>100050</string>
			<string>100052</string>
			<string>100057</string>
			<string>100060</string>
		</array>
		<key>levels</key>
		<array>
			<dict>
				<key>amount</key>
				<string>1</string>
				<key>description</key>
				<string>Read 1 story from the Paranormal shelf</string>
				<key>gameCenterId</key>
				<string>Paranormal Fanatic I</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQKw</string>
				<key>rewardGems</key>
				<string>1</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>3</string>
				<key>description</key>
				<string>Read 3 stories from the Paranormal shelf</string>
				<key>gameCenterId</key>
				<string>Paranormal Fanatic II</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQLA</string>
				<key>rewardGems</key>
				<string>3</string>
			</dict>
			<dict>
				<key>amount</key>
				<string>6</string>
				<key>description</key>
				<string>Read 6 stories from the Paranormal shelf</string>
				<key>gameCenterId</key>
				<string>Paranormal Fanatic III</string>
				<key>googlePlayId</key>
				<string>CgkIoMuLxMkREAIQLQ</string>
				<key>rewardGems</key>
				<string>5</string>
			</dict>
		</array>
		<key>profileId</key>
		<string>50011</string>
		<key>title</key>
		<string>Paranormal Fanatic</string>
		<key>trackingEvent</key>
		<string>storyCompleted</string>
	</dict>
</array>
</plist>
