<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bannerPlistName</key>
		<string>54000-banner.plist</string>
		<key>endTimestamp</key>
		<string>0</string>
		<key>gameCode</key>
		<string>HS</string>
		<key>iconName</key>
		<string>54000-icon_hs</string>
		<key>levels</key>
		<dict>
			<key>default</key>
			<dict>
				<key>interstitialDisplayCount</key>
				<string>0</string>
				<key>interstitialFrequency</key>
				<string>0</string>
				<key>showBanner</key>
				<string>0</string>
				<key>showIcon</key>
				<string>0</string>
				<key>videoDisplayCount</key>
				<string>0</string>
				<key>videoFrequency</key>
				<string>0</string>
			</dict>
			<key>tier1</key>
			<dict>
				<key>interstitialDisplayCount</key>
				<string>0</string>
				<key>interstitialFrequency</key>
				<string>0</string>
				<key>showBanner</key>
				<string>0</string>
				<key>showIcon</key>
				<string>0</string>
				<key>videoDisplayCount</key>
				<string>0</string>
				<key>videoFrequency</key>
				<string>0</string>
			</dict>
			<key>tier2</key>
			<dict>
				<key>interstitialDisplayCount</key>
				<string>0</string>
				<key>interstitialFrequency</key>
				<string>0</string>
				<key>showBanner</key>
				<string>0</string>
				<key>showIcon</key>
				<string>0</string>
				<key>videoDisplayCount</key>
				<string>0</string>
				<key>videoFrequency</key>
				<string>0</string>
			</dict>
			<key>tier3</key>
			<dict>
				<key>interstitialDisplayCount</key>
				<string>0</string>
				<key>interstitialFrequency</key>
				<string>0</string>
				<key>showBanner</key>
				<string>0</string>
				<key>showIcon</key>
				<string>0</string>
				<key>videoDisplayCount</key>
				<string>0</string>
				<key>videoFrequency</key>
				<string>0</string>
			</dict>
		</dict>
		<key>profileId</key>
		<string>54000</string>
		<key>startTimestamp</key>
		<string>0</string>
		<key>urlAdjustBanner</key>
		<string>https://s2s.adjust.com/38lsek8?s2s=1&amp;idfa=</string>
		<key>urlAdjustIcon</key>
		<string>https://s2s.adjust.com/6rl4baf?s2s=1&amp;idfa=</string>
		<key>urlAndroid</key>
		<string>https://play.google.com/store/apps/details?id=org.nanobit.hollywood</string>
		<key>urlIOS</key>
		<string>https://itunes.apple.com/us/app/hollywood-story/id876656488</string>
	</dict>
</array>
</plist>
