<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read a total of 4 chapters today - easy, right?</string>
		<key>profileId</key>
		<string>51000</string>
		<key>rewardGemsSubscribed</key>
		<string>1</string>
		<key>rewardTickets</key>
		<string>1</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read 4 chapters today - 3, 2, 1, go!</string>
		<key>profileId</key>
		<string>51001</string>
		<key>rewardGemsSubscribed</key>
		<string>1</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>On the menu today: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51002</string>
		<key>rewardGemsSubscribed</key>
		<string>1</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Your quest is simple: Read 4 chapters today!</string>
		<key>profileId</key>
		<string>51003</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Get your daily fix of drama: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51004</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Reading 4 chapters in a day? A piece of cake!</string>
		<key>profileId</key>
		<string>51005</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Can you read 4 chapters in a day? Prove it!</string>
		<key>profileId</key>
		<string>51006</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read a total of 4 chapters today - easy, right?</string>
		<key>profileId</key>
		<string>51007</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>1</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read 4 chapters today - 3, 2, 1, go!</string>
		<key>profileId</key>
		<string>51008</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>On the menu today: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51009</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Your quest is simple: Read 4 chapters today!</string>
		<key>profileId</key>
		<string>51010</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Get your daily fix of drama: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51011</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Reading 4 chapters in a day? A piece of cake!</string>
		<key>profileId</key>
		<string>51012</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Can you read 4 chapters in a day? Prove it!</string>
		<key>profileId</key>
		<string>51013</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read a total of 4 chapters today - easy, right?</string>
		<key>profileId</key>
		<string>51014</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>1</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read 4 chapters today - 3, 2, 1, go!</string>
		<key>profileId</key>
		<string>51015</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>On the menu today: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51016</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Your quest is simple: Read 4 chapters today!</string>
		<key>profileId</key>
		<string>51017</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Get your daily fix of drama: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51018</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Reading 4 chapters in a day? A piece of cake!</string>
		<key>profileId</key>
		<string>51019</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Can you read 4 chapters in a day? Prove it!</string>
		<key>profileId</key>
		<string>51020</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read a total of 4 chapters today - easy, right?</string>
		<key>profileId</key>
		<string>51021</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>1</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Read 4 chapters today - 3, 2, 1, go!</string>
		<key>profileId</key>
		<string>51022</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>On the menu today: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51023</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>rewardTickets</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Your quest is simple: Read 4 chapters today!</string>
		<key>profileId</key>
		<string>51024</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Get your daily fix of drama: Read 4 chapters!</string>
		<key>profileId</key>
		<string>51025</string>
		<key>rewardGems</key>
		<string>1</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Reading 4 chapters in a day? A piece of cake!</string>
		<key>profileId</key>
		<string>51026</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
	<dict>
		<key>amount</key>
		<string>4</string>
		<key>description</key>
		<string>Can you read 4 chapters in a day? Prove it!</string>
		<key>profileId</key>
		<string>51027</string>
		<key>rewardGems</key>
		<string>2</string>
		<key>rewardGemsSubscribed</key>
		<string>2</string>
		<key>trackingEvent</key>
		<string>conversationEnded</string>
	</dict>
</array>
</plist>
