<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>gain</key>
		<string>25</string>
		<key>price</key>
		<string>0.99$</string>
		<key>priceInDollars</key>
		<string>0.99</string>
		<key>extra</key>
		<string>30</string>
		<key>extraText</key>
		<string>30</string>
		<key>productId</key>
		<string>d_10</string>
		<key>profileId</key>
		<string>47</string>
		<key>thumbName</key>
		<string>diamond_offer_small2.png</string>
		<key>title</key>
		<string>Mini Diamonds Package</string>
	</dict>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>gain</key>
		<string>35</string>
		<key>price</key>
		<string>1.99$</string>
		<key>extra</key>
		<string>30</string>
		<key>extraText</key>
		<string>75</string>
		<key>priceInDollars</key>
		<string>1.99</string>
		<key>productId</key>
		<string>d_5</string>
		<key>profileId</key>
		<string>45</string>
		<key>thumbName</key>
		<string>diamond-zombie.png</string>
		<key>title</key>
		<string>Extra small pack</string>
	</dict>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>gain</key>
		<string>50</string>
		<key>price</key>
		<string>4.99$</string>
		<key>priceInDollars</key>
		<string>4.99</string>
		<key>productId</key>
		<string>d1</string>
		<key>profileId</key>
		<string>41</string>
		<key>thumbName</key>
		<string>diamond-small.png</string>
		<key>title</key>
		<string>Small pack</string>
	</dict>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>extra</key>
		<string>20</string>
		<key>extraText</key>
		<string>20</string>
		<key>gain</key>
		<string>120</string>
		<key>price</key>
		<string>9.99$</string>
		<key>priceInDollars</key>
		<string>9.99</string>
		<key>productId</key>
		<string>d_2</string>
		<key>profileId</key>
		<string>42</string>
		<key>thumbName</key>
		<string>diamond-medium.png</string>
		<key>title</key>
		<string>Medium pack</string>
	</dict>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>extra</key>
		<string>30</string>
		<key>extraText</key>
		<string>30</string>
		<key>gain</key>
		<string>260</string>
		<key>hot</key>
		<string>1</string>
		<key>price</key>
		<string>19.99$</string>
		<key>priceInDollars</key>
		<string>19.99</string>
		<key>productId</key>
		<string>d_3</string>
		<key>profileId</key>
		<string>43</string>
		<key>thumbName</key>
		<string>diamond-large.png</string>
		<key>title</key>
		<string>Large pack</string>
	</dict>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>best</key>
		<string>1</string>
		<key>extra</key>
		<string>38</string>
		<key>extraText</key>
		<string>40</string>
		<key>gain</key>
		<string>550</string>
		<key>price</key>
		<string>39.99$</string>
		<key>priceInDollars</key>
		<string>39.99</string>
		<key>productId</key>
		<string>d_4</string>
		<key>profileId</key>
		<string>44</string>
		<key>thumbName</key>
		<string>diamond-extra_large.png</string>
		<key>title</key>
		<string>Extra large pack</string>
	</dict>
	<dict>
		<key>active</key>
		<string>1</string>
		<key>extra</key>
		<string>42</string>
		<key>extraText</key>
		<string>50</string>
		<key>gain</key>
		<string>1500</string>
		<key>price</key>
		<string>99.99$</string>
		<key>priceInDollars</key>
		<string>99.99</string>
		<key>productId</key>
		<string>d_6</string>
		<key>profileId</key>
		<string>46</string>
		<key>thumbName</key>
		<string>diamond-mega_large.png</string>
		<key>title</key>
		<string>Mega pack</string>
	</dict>
</array>
</plist>
