<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362030</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362031</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362050</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362060</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362070</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362100</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362110</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362120</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362130</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362131</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362140</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362150</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362151</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362152</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362170</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362180</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362181</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362200</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362210</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362211</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362220</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362221</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362240</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362241</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362250</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362251</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362260</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362261</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362270</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362280</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362290</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362300</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362320</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362321</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362330</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362331</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1362340</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364000</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364020</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364021</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364040</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364080</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364081</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364090</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364190</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364191</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364230</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364231</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1364310</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369000</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369010</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369023</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369022</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369032</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369031</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369040</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369041</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369053</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369055</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369060</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369061</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369070</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369084</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369085</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369082</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369083</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369090</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369100</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369110</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369111</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369120</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369132</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369131</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369140</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369141</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369150</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369151</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369152</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369160</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369161</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369172</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369171</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369180</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369181</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369182</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369183</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369190</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369191</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369192</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369200</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369201</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369210</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369211</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369220</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369221</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369222</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369230</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369231</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369232</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369233</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369240</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369241</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369242</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369250</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369251</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369262</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369263</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369270</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369271</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369280</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369290</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369291</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369300</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369301</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369310</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369328</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369329</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369326</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>13693210</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>13693211</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369327</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369330</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369331</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369332</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369333</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1369340</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1366000</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1368000</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1367000</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1367110</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1367111</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840081</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840083</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840085</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840090</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840100</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840010</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840030</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840031</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840070</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840051</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840052</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840020</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840000</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840060</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840061</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840130</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840131</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840110</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840111</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840150</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840151</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840152</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840280</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840310</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840335</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840333</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840170</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840171</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840340</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840120</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840327</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840322</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840324</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840325</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840161</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840290</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840291</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840141</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840301</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840181</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840183</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840250</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840251</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840271</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840231</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840233</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840212</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840211</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840262</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840261</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840240</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840242</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840190</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840191</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840201</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840040</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840041</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840220</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840221</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840222</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
	<dict>
		<key>bonusPoints</key>
		<string>1</string>
		<key>profileId</key>
		<string>1840054</string>
		<key>storyId</key>
		<string>100018</string>
	</dict>
</array>
</plist>
