<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>1</string>
		<key>collectedImage</key>
		<string>52000_interaction_sticker.png</string>
		<key>index</key>
		<string>1</string>
		<key>name</key>
		<string>BFF</string>
		<key>profileId</key>
		<string>52000</string>
		<key>uncollectedImage</key>
		<string>52000_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>3</string>
		<key>collectedImage</key>
		<string>52001_interaction_sticker.png</string>
		<key>index</key>
		<string>1</string>
		<key>name</key>
		<string>Handy Girl</string>
		<key>profileId</key>
		<string>52001</string>
		<key>uncollectedImage</key>
		<string>52001_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>24</string>
		<key>collectedImage</key>
		<string>52002_interaction_sticker.png</string>
		<key>index</key>
		<string>4</string>
		<key>name</key>
		<string>Hello There</string>
		<key>profileId</key>
		<string>52002</string>
		<key>uncollectedImage</key>
		<string>52002_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>32</string>
		<key>collectedImage</key>
		<string>52003_interaction_sticker.png</string>
		<key>index</key>
		<string>4</string>
		<key>name</key>
		<string>Reveal</string>
		<key>profileId</key>
		<string>52003</string>
		<key>uncollectedImage</key>
		<string>52003_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>9</string>
		<key>collectedImage</key>
		<string>52004_interaction_sticker.png</string>
		<key>index</key>
		<string>3</string>
		<key>name</key>
		<string>Party Time</string>
		<key>profileId</key>
		<string>52004</string>
		<key>uncollectedImage</key>
		<string>52004_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>5</string>
		<key>collectedImage</key>
		<string>52005_interaction_sticker.png</string>
		<key>index</key>
		<string>2</string>
		<key>name</key>
		<string>Cheers</string>
		<key>profileId</key>
		<string>52005</string>
		<key>uncollectedImage</key>
		<string>52005_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>14</string>
		<key>collectedImage</key>
		<string>52006_interaction_sticker.png</string>
		<key>index</key>
		<string>2</string>
		<key>name</key>
		<string>Lovers</string>
		<key>profileId</key>
		<string>52006</string>
		<key>uncollectedImage</key>
		<string>52006_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100018</string>
		<key>chapterNumber</key>
		<string>20</string>
		<key>collectedImage</key>
		<string>52007_interaction_sticker.png</string>
		<key>index</key>
		<string>3</string>
		<key>name</key>
		<string>Road Trip</string>
		<key>profileId</key>
		<string>52007</string>
		<key>uncollectedImage</key>
		<string>52007_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100032</string>
		<key>chapterNumber</key>
		<string>19</string>
		<key>collectedImage</key>
		<string>52008_interaction_sticker.png</string>
		<key>index</key>
		<string>2</string>
		<key>name</key>
		<string>Reveal II</string>
		<key>profileId</key>
		<string>52008</string>
		<key>uncollectedImage</key>
		<string>52008_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100032</string>
		<key>chapterNumber</key>
		<string>14</string>
		<key>collectedImage</key>
		<string>52009_interaction_sticker.png</string>
		<key>index</key>
		<string>2</string>
		<key>name</key>
		<string>Unexpected Kiss</string>
		<key>profileId</key>
		<string>52009</string>
		<key>uncollectedImage</key>
		<string>52009_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100041</string>
		<key>chapterNumber</key>
		<string>17</string>
		<key>collectedImage</key>
		<string>52010_interaction_sticker.png</string>
		<key>index</key>
		<string>3</string>
		<key>name</key>
		<string>Diamonds</string>
		<key>profileId</key>
		<string>52010</string>
		<key>uncollectedImage</key>
		<string>52010_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100041</string>
		<key>chapterNumber</key>
		<string>22</string>
		<key>collectedImage</key>
		<string>52011_interaction_sticker.png</string>
		<key>index</key>
		<string>3</string>
		<key>name</key>
		<string>Think Positive</string>
		<key>profileId</key>
		<string>52011</string>
		<key>uncollectedImage</key>
		<string>52011_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100032</string>
		<key>chapterNumber</key>
		<string>27</string>
		<key>collectedImage</key>
		<string>52012_interaction_sticker.png</string>
		<key>index</key>
		<string>4</string>
		<key>name</key>
		<string>Future</string>
		<key>profileId</key>
		<string>52012</string>
		<key>uncollectedImage</key>
		<string>52012_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100032</string>
		<key>chapterNumber</key>
		<string>14</string>
		<key>collectedImage</key>
		<string>52013_interaction_sticker.png</string>
		<key>index</key>
		<string>4</string>
		<key>name</key>
		<string>Modern Cinderella</string>
		<key>profileId</key>
		<string>52013</string>
		<key>uncollectedImage</key>
		<string>52013_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100041</string>
		<key>chapterNumber</key>
		<string>1</string>
		<key>collectedImage</key>
		<string>52014_interaction_sticker.png</string>
		<key>index</key>
		<string>1</string>
		<key>name</key>
		<string>Leftovers</string>
		<key>profileId</key>
		<string>52014</string>
		<key>uncollectedImage</key>
		<string>52014_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100033</string>
		<key>chapterNumber</key>
		<string>1</string>
		<key>collectedImage</key>
		<string>52015_interaction_sticker.png</string>
		<key>index</key>
		<string>4</string>
		<key>name</key>
		<string>Surprise</string>
		<key>profileId</key>
		<string>52015</string>
		<key>uncollectedImage</key>
		<string>52015_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100041</string>
		<key>chapterNumber</key>
		<string>12</string>
		<key>collectedImage</key>
		<string>52016_interaction_sticker.png</string>
		<key>index</key>
		<string>2</string>
		<key>name</key>
		<string>Hot Rod</string>
		<key>profileId</key>
		<string>52016</string>
		<key>uncollectedImage</key>
		<string>52016_interaction_sticker_empty.png</string>
	</dict>
	<dict>
		<key>bookId</key>
		<string>100032</string>
		<key>chapterNumber</key>
		<string>21</string>
		<key>collectedImage</key>
		<string>52017_interaction_sticker.png</string>
		<key>index</key>
		<string>3</string>
		<key>name</key>
		<string>Busted!</string>
		<key>profileId</key>
		<string>52017</string>
		<key>uncollectedImage</key>
		<string>52017_interaction_sticker_empty.png</string>
	</dict>
</array>
</plist>
