<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>class</key>
					<string>Sprite</string>
					<key>image</key>
					<string>background_clue.png</string>
					<key>imageSize</key>
					<string>794,679</string>
					<key>name</key>
					<string>background</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>scaleX</key>
					<string>0.627771</string>
					<key>scaleY</key>
					<string>0.641876</string>
					<key>sizeAbs</key>
					<string>794,679</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>disabled</key>
							<string>arrow_up.png</string>
							<key>disabledSize</key>
							<string>117,117</string>
							<key>name</key>
							<string>leftArrow</string>
							<key>normal</key>
							<string>arrow_up.png</string>
							<key>normalSize</key>
							<string>117,117</string>
							<key>posAbs</key>
							<string>139.473,236.638</string>
							<key>posRel</key>
							<string>0,0</string>
							<key>rotation</key>
							<string>270</string>
							<key>selected</key>
							<string>arrow_up.png</string>
							<key>selectedSize</key>
							<string>117,117</string>
							<key>selector</key>
							<string>increaseNumOfBalls</string>
							<key>sizeAbs</key>
							<string>117,117</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
						<dict>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>disabled</key>
							<string>arrow_down.png</string>
							<key>disabledSize</key>
							<string>117,117</string>
							<key>name</key>
							<string>rightArrow</string>
							<key>normal</key>
							<string>arrow_down.png</string>
							<key>normalSize</key>
							<string>117,117</string>
							<key>posAbs</key>
							<string>262.868,236.719</string>
							<key>posRel</key>
							<string>0,0</string>
							<key>rotation</key>
							<string>270</string>
							<key>selected</key>
							<string>arrow_down.png</string>
							<key>selectedSize</key>
							<string>117,117</string>
							<key>selector</key>
							<string>decreaseNumOfBalls</string>
							<key>sizeAbs</key>
							<string>117,117</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
					</array>
					<key>class</key>
					<string>Menu</string>
					<key>name</key>
					<string>ballNumberMenu</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>500,480</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
				<dict>
					<key>class</key>
					<string>LabelTTF</string>
					<key>content</key>
					<string>1</string>
					<key>fontSize</key>
					<string>30</string>
					<key>localizable</key>
					<string>0</string>
					<key>name</key>
					<string>ballNumber</string>
					<key>posAbs</key>
					<string>132.098,277.24</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>60,50</string>
					<key>sizeRel</key>
					<string>0,0</string>
					<key>tag</key>
					<string>50</string>
					<key>vAlignment</key>
					<string>bottom</string>
				</dict>
				<dict>
					<key>class</key>
					<string>LabelTTF</string>
					<key>content</key>
					<string>BILLIARDS</string>
					<key>fontSize</key>
					<string>50</string>
					<key>hAlignment</key>
					<string>center</string>
					<key>localizable</key>
					<string>0</string>
					<key>name</key>
					<string>title</string>
					<key>posAbs</key>
					<string>125.819,336.067</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>0,0</string>
					<key>vAlignment</key>
					<string>center</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>class</key>
									<string>LabelTTF</string>
									<key>content</key>
									<string>Play game</string>
									<key>fontSize</key>
									<string>30</string>
									<key>hAlignment</key>
									<string>center</string>
									<key>localizable</key>
									<string>0</string>
									<key>name</key>
									<string>playLabel</string>
									<key>posAbs</key>
									<string>49.9641,25.4329</string>
									<key>posRel</key>
									<string>0,0</string>
									<key>sizeAbs</key>
									<string>0,0</string>
									<key>sizeRel</key>
									<string>0,0</string>
									<key>vAlignment</key>
									<string>center</string>
								</dict>
							</array>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>disabled</key>
							<string>button_green.png</string>
							<key>disabledSize</key>
							<string>260,90</string>
							<key>name</key>
							<string>playButton</string>
							<key>normal</key>
							<string>button_green.png</string>
							<key>normalSize</key>
							<string>260,90</string>
							<key>posAbs</key>
							<string>75.336,45.8047</string>
							<key>posRel</key>
							<string>0,0</string>
							<key>scaleX</key>
							<string>0.661331</string>
							<key>scaleY</key>
							<string>0.683324</string>
							<key>selected</key>
							<string>button_green.png</string>
							<key>selectedSize</key>
							<string>260,90</string>
							<key>selector</key>
							<string>playGame</string>
							<key>sizeAbs</key>
							<string>260,90</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>class</key>
									<string>LabelTTF</string>
									<key>content</key>
									<string>Quit game</string>
									<key>fontSize</key>
									<string>30</string>
									<key>hAlignment</key>
									<string>center</string>
									<key>localizable</key>
									<string>0</string>
									<key>name</key>
									<string>quitLabel</string>
									<key>posAbs</key>
									<string>49.4331,23.2255</string>
									<key>posRel</key>
									<string>0,0</string>
									<key>sizeAbs</key>
									<string>0,0</string>
									<key>sizeRel</key>
									<string>0,0</string>
									<key>vAlignment</key>
									<string>center</string>
								</dict>
							</array>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>name</key>
							<string>quitGame</string>
							<key>normal</key>
							<string>button_blue.png</string>
							<key>normalSize</key>
							<string>260,90</string>
							<key>posAbs</key>
							<string>240.878,44.8937</string>
							<key>posRel</key>
							<string>0,0</string>
							<key>scaleX</key>
							<string>0.751089</string>
							<key>scaleY</key>
							<string>0.697123</string>
							<key>sizeAbs</key>
							<string>260,90</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
					</array>
					<key>class</key>
					<string>Menu</string>
					<key>name</key>
					<string>gameMenu</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>500,480</string>
					<key>sizeRel</key>
					<string>0,0</string>
				</dict>
			</array>
			<key>class</key>
			<string>Node</string>
			<key>name</key>
			<string>rootNode</string>
			<key>posAbs</key>
			<string>0,0</string>
			<key>posRel</key>
			<string>0,0</string>
			<key>sizeAbs</key>
			<string>500,480</string>
			<key>sizeRel</key>
			<string>0,0</string>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>device</key>
		<string>Custom</string>
		<key>deviceFactor</key>
		<string>1</string>
		<key>deviceSize</key>
		<string>500,500</string>
		<key>shouldRemoveDevExt</key>
		<string>0</string>
		<key>version</key>
		<string>1.4</string>
	</dict>
</dict>
</plist>
