<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>flirty</key>
		<dict>
			<key>highlight</key>
			<string>212, 20, 90</string>
			<key>background</key>
			<string>229, 87, 155</string>
		</dict>
		<key>annoyed</key>
		<dict>
			<key>highlight</key>
			<string>166, 20, 26</string>
			<key>background</key>
			<string>239, 96, 96</string>
		</dict>
		<key>shocked</key>
		<dict>
			<key>highlight</key>
			<string>251, 174, 23</string>
			<key>background</key>
			<string>230, 237, 88</string>
		</dict>
		<key>angry</key>
		<dict>
			<key>highlight</key>
			<string>239, 62, 45</string>
			<key>background</key>
			<string>255, 135, 54</string>
		</dict>
		<key>happy</key>
		<dict>
			<key>highlight</key>
			<string>140, 204, 39</string>
			<key>background</key>
			<string>230, 237, 88</string>
		</dict>
		<key>unhappy</key>
		<dict>
			<key>highlight</key>
			<string>6, 31, 59</string>
			<key>background</key>
			<string>31, 144, 254</string>
		</dict>
		<key>neutral</key>
		<dict>
			<key>highlight</key>
			<string>31, 144, 254</string>
			<key>background</key>
			<string>119, 211, 247</string>
		</dict>
	</dict>
	<key>mappingAnimationGirl</key>
	<dict>
		<key>giggling2</key>
		<string>__joking</string>
		<key>giggling1</key>
		<string>__joking</string>
		<key>acting_happy</key>
		<string>__joking</string>
		<key>sorry_not_sorry</key>
		<string>__snob</string>
		<key>snob</key>
		<string>__snob</string>
		<key>winks</key>
		<string>__flirty</string>
		<key>taking_selfie</key>
		<string>__flirty</string>
		<key>send_kiss</key>
		<string>__flirty</string>
		<key>sassy hand</key>
		<string>__flirty</string>
		<key>photo_shooting_pose</key>
		<string>__flirty</string>
		<key>paparazzi_shots</key>
		<string>__flirty</string>
		<key>model_pose</key>
		<string>__flirty</string>
		<key>hug</key>
		<string>__flirty</string>
		<key>hot_comment</key>
		<string>__flirty</string>
		<key>flirt</key>
		<string>__flirty</string>
		<key>dressing_up</key>
		<string>__flirty</string>
		<key>suspicious</key>
		<string>__suspicious</string>
		<key>shh</key>
		<string>__suspicious</string>
		<key>negative</key>
		<string>__suspicious</string>
		<key>arms_crossed</key>
		<string>__suspicious</string>
		<key>yawn</key>
		<string>__disapointed</string>
		<key>shrug</key>
		<string>__disapointed</string>
		<key>phone_negative</key>
		<string>__disapointed</string>
		<key>fear</key>
		<string>__disapointed</string>
		<key>face palm</key>
		<string>__disapointed</string>
		<key>disappointed</key>
		<string>__disapointed</string>
		<key>embarrassed</key>
		<string>__shy</string>
		<key>think</key>
		<string>__thinking</string>
		<key>sky_view</key>
		<string>__thinking</string>
		<key>yell</key>
		<string>__shocked</string>
		<key>shocked2</key>
		<string>__shocked</string>
		<key>shocked</key>
		<string>__shocked</string>
		<key>pointing</key>
		<string>__shocked</string>
		<key>me_really?</key>
		<string>__shocked</string>
		<key>humiliated</key>
		<string>__shocked</string>
		<key>fall</key>
		<string>__shocked</string>
		<key>faint2</key>
		<string>__shocked</string>
		<key>faint</key>
		<string>__shocked</string>
		<key>slap guy</key>
		<string>__angry</string>
		<key>slap girl - slapping</key>
		<string>__angry</string>
		<key>slap girl - slapped</key>
		<string>__angry</string>
		<key>rage</key>
		<string>__angry</string>
		<key>no_way</key>
		<string>__angry</string>
		<key>fighter_right</key>
		<string>__angry</string>
		<key>fighter_left</key>
		<string>__angry</string>
		<key>excuse_me</key>
		<string>__angry</string>
		<key>annoyed</key>
		<string>__angry</string>
		<key>ultra_happy</key>
		<string>__happy_2</string>
		<key>turbo_dance</key>
		<string>__happy_2</string>
		<key>rich</key>
		<string>__happy_2</string>
		<key>impressed</key>
		<string>__happy_2</string>
		<key>offer_best</key>
		<string>__happy_2</string>
		<key>hooray</key>
		<string>__happy_2</string>
		<key>hi_fans</key>
		<string>__happy_2</string>
		<key>happy</key>
		<string>__happy_2</string>
		<key>fan_3</key>
		<string>__happy_2</string>
		<key>fan_2</key>
		<string>__happy_2</string>
		<key>dance_short</key>
		<string>__happy_2</string>
		<key>dance_long</key>
		<string>__happy_2</string>
		<key>fan</key>
		<string>__happy_2</string>
		<key>clapping</key>
		<string>__happy_2</string>
		<key>amazement</key>
		<string>__happy_2</string>
		<key>accepting_oscar</key>
		<string>__happy_2</string>
		<key>accepting_award</key>
		<string>__happy_2</string>
		<key>EKSTREMI</key>
		<string>__happy_2</string>
		<key>wave</key>
		<string>__happy</string>
		<key>support</key>
		<string>__happy</string>
		<key>positive</key>
		<string>__happy</string>
		<key>phone_positive</key>
		<string>__happy</string>
		<key>offer</key>
		<string>__happy</string>
		<key>invite</key>
		<string>__happy</string>
		<key>hi_there</key>
		<string>__happy</string>
		<key>guitar</key>
		<string>__happy</string>
		<key>got_it</key>
		<string>__happy</string>
		<key>feeling_important</key>
		<string>__happy</string>
		<key>drinking_2</key>
		<string>__happy</string>
		<key>drinking</key>
		<string>__happy</string>
		<key>count_on_me</key>
		<string>__happy</string>
		<key>choreography_5</key>
		<string>__happy</string>
		<key>choreography_4</key>
		<string>__happy</string>
		<key>choreography_3</key>
		<string>__happy</string>
		<key>choreography_2</key>
		<string>__happy</string>
		<key>choreography_1</key>
		<string>__happy</string>
		<key>cheeky</key>
		<string>__happy</string>
		<key>chat</key>
		<string>__happy</string>
		<key>autograph</key>
		<string>__happy</string>
		<key>sad2</key>
		<string>__sad</string>
		<key>sad</key>
		<string>__sad</string>
		<key>idle_3_sad</key>
		<string>__sad</string>
		<key>exausted</key>
		<string>__sad</string>
		<key>crying</key>
		<string>__sad</string>
		<key>impatient</key>
		<string>__neutral</string>
		<key>eye roll</key>
		<string>__neutral</string>
		<key>disapproval</key>
		<string>__neutral</string>
		<key>boredom</key>
		<string>__neutral</string>
		<key>air guitar</key>
		<string>__neutral</string>
		<key>taking baby</key>
		<string>__neutral</string>
		<key>talk_to_camera</key>
		<string>__neutral</string>
		<key>waitress</key>
		<string>__neutral</string>
		<key>waitress_idle</key>
		<string>__neutral</string>
		<key>whisper</key>
		<string>__neutral</string>
		<key>ask_question</key>
		<string>__neutral</string>
		<key>doll</key>
		<string>__neutral</string>
		<key>doll2</key>
		<string>__neutral</string>
		<key>explain</key>
		<string>__neutral</string>
		<key>gym1</key>
		<string>__neutral</string>
		<key>gym2</key>
		<string>__neutral</string>
		<key>idle_1</key>
		<string>__neutral</string>
		<key>idle_2</key>
		<string>__neutral</string>
		<key>interview</key>
		<string>__neutral</string>
		<key>interview_aggressive</key>
		<string>__neutral</string>
		<key>interview_question</key>
		<string>__neutral</string>
		<key>offer_hand_fan</key>
		<string>__neutral</string>
		<key>phone_answer</key>
		<string>__neutral</string>
		<key>phone_call</key>
		<string>__neutral</string>
		<key>phone_hang_up</key>
		<string>__neutral</string>
		<key>phone_listen</key>
		<string>__neutral</string>
		<key>phone_talk</key>
		<string>__neutral</string>
		<key>phone_type</key>
		<string>__neutral</string>
		<key>reading</key>
		<string>__neutral</string>
		<key>sassy</key>
		<string>__neutral</string>
		<key>sing_gaga_mic</key>
		<string>__neutral</string>
		<key>sing_gaga_nomic</key>
		<string>__neutral</string>
		<key>sing_mariah_mic</key>
		<string>__neutral</string>
	</dict>
	<key>mappingAnimationGuy</key>
	<dict>
		<key>giggling1</key>
		<string>__joking</string>
		<key>flirt</key>
		<string>__flirty</string>
		<key>hot_comment</key>
		<string>__flirty</string>
		<key>hug</key>
		<string>__flirty</string>
		<key>model_pose</key>
		<string>__flirty</string>
		<key>paparazzi_shots</key>
		<string>__flirty</string>
		<key>pose_1</key>
		<string>__flirty</string>
		<key>pose_2</key>
		<string>__flirty</string>
		<key>send_kiss</key>
		<string>__flirty</string>
		<key>winks</key>
		<string>__flirty</string>
		<key>boredom</key>
		<string>__suspicious</string>
		<key>embarrassed</key>
		<string>__suspicious</string>
		<key>guard</key>
		<string>__suspicious</string>
		<key>idle_2</key>
		<string>__suspicious</string>
		<key>impatient</key>
		<string>__suspicious</string>
		<key>negative</key>
		<string>__suspicious</string>
		<key>phone_negative</key>
		<string>__suspicious</string>
		<key>roman_idle</key>
		<string>__suspicious</string>
		<key>shh</key>
		<string>__suspicious</string>
		<key>snob</key>
		<string>__suspicious</string>
		<key>think</key>
		<string>__thinking</string>
		<key>amazement</key>
		<string>__shocked</string>
		<key>humiliated</key>
		<string>__shocked</string>
		<key>shocked</key>
		<string>__shocked</string>
		<key>annoyed</key>
		<string>__angry</string>
		<key>disapproval</key>
		<string>__angry</string>
		<key>rage</key>
		<string>__angry</string>
		<key>slap</key>
		<string>__angry</string>
		<key>yelling</key>
		<string>__angry</string>
		<key>accepting_award</key>
		<string>__happy_2</string>
		<key>clapping</key>
		<string>__happy_2</string>
		<key>dance</key>
		<string>__happy_2</string>
		<key>fan</key>
		<string>__happy_2</string>
		<key>fan_2</key>
		<string>__happy_2</string>
		<key>fan_3</key>
		<string>__happy_2</string>
		<key>fan_4</key>
		<string>__happy_2</string>
		<key>gangnam_style</key>
		<string>__happy_2</string>
		<key>happy</key>
		<string>__happy_2</string>
		<key>hi_fans</key>
		<string>__happy_2</string>
		<key>impressed</key>
		<string>__happy_2</string>
		<key>ultra_happy</key>
		<string>__happy_2</string>
		<key>approval</key>
		<string>__happy</string>
		<key>cheeky</key>
		<string>__happy</string>
		<key>count_on_me</key>
		<string>__happy</string>
		<key>drinking</key>
		<string>__happy</string>
		<key>feeling_important</key>
		<string>__happy</string>
		<key>got_it</key>
		<string>__happy</string>
		<key>hi_there</key>
		<string>__happy</string>
		<key>invite</key>
		<string>__happy</string>
		<key>paparazzi_shooting</key>
		<string>__happy</string>
		<key>phone_positive</key>
		<string>__happy</string>
		<key>taking_selfie</key>
		<string>__happy</string>
		<key>talk</key>
		<string>__happy</string>
		<key>wave</key>
		<string>__happy</string>
		<key>cry</key>
		<string>__sad</string>
		<key>fear</key>
		<string>__sad</string>
		<key>sad</key>
		<string>__sad</string>
		<key>ask_question</key>
		<string>__neutral</string>
		<key>blink</key>
		<string>__neutral</string>
		<key>coach_workout</key>
		<string>__neutral</string>
		<key>designer_idle</key>
		<string>__neutral</string>
		<key>drawing</key>
		<string>__neutral</string>
		<key>drawing_end</key>
		<string>__neutral</string>
		<key>drawing_middle</key>
		<string>__neutral</string>
		<key>drawing_start</key>
		<string>__neutral</string>
		<key>idle_1</key>
		<string>__neutral</string>
		<key>idle_3</key>
		<string>__neutral</string>
		<key>interview</key>
		<string>__neutral</string>
		<key>interview_aggressive</key>
		<string>__neutral</string>
		<key>interview_question</key>
		<string>__neutral</string>
		<key>offer</key>
		<string>__neutral</string>
		<key>paparazzi_idle</key>
		<string>__neutral</string>
		<key>phone_answer</key>
		<string>__neutral</string>
		<key>phone_call</key>
		<string>__neutral</string>
		<key>phone_hang_up</key>
		<string>__neutral</string>
		<key>phone_listen</key>
		<string>__neutral</string>
		<key>phone_talk</key>
		<string>__neutral</string>
		<key>proposal_getting_up</key>
		<string>__neutral</string>
		<key>proposal_idle</key>
		<string>__neutral</string>
		<key>proposal_idle_long</key>
		<string>__neutral</string>
		<key>proposal_kneel_down</key>
		<string>__neutral</string>
		<key>sky_view</key>
		<string>__neutral</string>
		<key>support</key>
		<string>__neutral</string>
		<key>talk_to_camera</key>
		<string>__neutral</string>
		<key>waiter</key>
		<string>__neutral</string>
		<key>whisper</key>
		<string>__neutral</string>
	</dict>
	<key>mappingColors</key>
	<dict>
		<key>__thinking</key>
		<string>neutral</string>
		<key>__idle_2</key>
		<string>neutral</string>
		<key>__neutral</key>
		<string>neutral</string>
		<key>__sad</key>
		<string>unhappy</string>
		<key>__disapointed</key>
		<string>unhappy</string>
		<key>__happy</key>
		<string>happy</string>
		<key>__happy_2</key>
		<string>happy</string>
		<key>__joking</key>
		<string>happy</string>
		<key>__angry</key>
		<string>angry</string>
		<key>__suspicious</key>
		<string>shocked</string>
		<key>__shocked</key>
		<string>shocked</string>
		<key>__snob</key>
		<string>annoyed</string>
		<key>__shy</key>
		<string>annoyed</string>
		<key>__flirty</key>
		<string>flirty</string>
	</dict>
</dict>
</plist>
