<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>puppy</string>
	<string>snowing</string>
	<string>649-fog</string>
	<string>501-leaves</string>
	<string>683-leaves</string>
	<string>643-light</string>
	<string>514-leaves</string>
	<string>661-water reflection</string>
	<string>661-wave</string>
	<string>661-leaves</string>
	<string>506-clouds</string>
	<string>652-clouds</string>
	<string>536-stars</string>
	<string>536-candle</string>
	<string>660-fireflies</string>
	<string>660-shooting stars</string>
	<string>512-leaves</string>
	<string>512-birds</string>
	<string>638-party lights</string>
	<string>609-party lights</string>
	<string>609-disco light</string>
	<string>609-confetti</string>
	<string>588-sunlight</string>
	<string>644-candle</string>
	<string>582-birds</string>
	<string>582-leaves</string>
	<string>582-clouds</string>
	<string>559-fireflies</string>
	<string>559-stars</string>
	<string>559-candle</string>
	<string>559-clouds</string>
	<string>547-clouds</string>
	<string>547-birds</string>
	<string>547-leaves</string>
	<string>760-candle</string>
	<string>761-light</string>
	<string>839-all</string>
	<string>666-puppy</string>
	<string>837-puppy-103</string>
	<string>837-puppy-101</string>
	<string>653_sprite_heart</string>
	<string>847-confetti</string>
	<string>760-puppy</string>
	<string>761-puppy</string>
</array>
</plist>
