<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array/>
	<key>settings</key>
	<dict>
		<key>device</key>
		<string>iPhone</string>
		<key>deviceFactor</key>
		<string>1</string>
		<key>deviceSize</key>
		<string>480,320</string>
		<key>shouldRemoveDevExt</key>
		<string>0</string>
		<key>version</key>
		<string>1.4</string>
	</dict>
</dict>
</plist>
