<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>anchor</key>
					<string>0.5,0.5</string>
					<key>class</key>
					<string>Sprite</string>
					<key>image</key>
					<string>INT-Wardrobe.png</string>
					<key>imageSize</key>
					<string>1163,1800</string>
					<key>name</key>
					<string>background</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0.5,0.5</string>
					<key>sizeAbs</key>
					<string>1163,1800</string>
					<key>sizeRel</key>
					<string>0,0</string>
					<key>zOrder</key>
					<string>-1</string>
				</dict>
				<dict>
					<key>anchor</key>
					<string>0.5,0</string>
					<key>class</key>
					<string>Node</string>
					<key>name</key>
					<string>modelNode</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0.5,0</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>1,1</string>
				</dict>
				<dict>
					<key>anchor</key>
					<string>0.5,1</string>
					<key>class</key>
					<string>CESprite9Slice</string>
					<key>image</key>
					<string>cloath_price_bg.png</string>
					<key>imageSize</key>
					<string>750,132</string>
					<key>marginBottom</key>
					<string>0.33333</string>
					<key>marginLeft</key>
					<string>0.33333</string>
					<key>marginRight</key>
					<string>0.33333</string>
					<key>marginTop</key>
					<string>0.33333</string>
					<key>name</key>
					<string>priceBackground</string>
					<key>posAbs</key>
					<string>0,-1</string>
					<key>posRel</key>
					<string>0.5,0.15</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>1,1</string>
					<key>zOrder</key>
					<string>1</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>anchor</key>
							<string>0,0.5</string>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>name</key>
							<string>leftArrow</string>
							<key>normal</key>
							<string>cloath_left_arrow.png</string>
							<key>normalSize</key>
							<string>172,172</string>
							<key>posAbs</key>
							<string>-35,0</string>
							<key>posRel</key>
							<string>0,0.45</string>
							<key>selected</key>
							<string>cloath_left_arrow_pressed.png</string>
							<key>selectedSize</key>
							<string>172,172</string>
							<key>selector</key>
							<string>leftArrow</string>
							<key>sizeAbs</key>
							<string>172,172</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
						<dict>
							<key>anchor</key>
							<string>1,0.5</string>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>name</key>
							<string>rightArrow</string>
							<key>normal</key>
							<string>cloath_right_arrow.png</string>
							<key>normalSize</key>
							<string>172,172</string>
							<key>posAbs</key>
							<string>35,0</string>
							<key>posRel</key>
							<string>1,0.45</string>
							<key>selected</key>
							<string>cloath_right_arrow_pressed.png</string>
							<key>selectedSize</key>
							<string>172,172</string>
							<key>selector</key>
							<string>rightArrow</string>
							<key>sizeAbs</key>
							<string>172,172</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
					</array>
					<key>class</key>
					<string>Menu</string>
					<key>name</key>
					<string>menu</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>1,1</string>
					<key>zOrder</key>
					<string>1</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>anchor</key>
							<string>0.5,0.5</string>
							<key>children</key>
							<array>
								<dict>
									<key>anchor</key>
									<string>0.5,0.5</string>
									<key>class</key>
									<string>LabelTTF</string>
									<key>content</key>
									<string>Choose this look</string>
									<key>fontName</key>
									<string>NotoSansUI-Bold</string>
									<key>fontSize</key>
									<string>34</string>
									<key>hAlignment</key>
									<string>center</string>
									<key>localizable</key>
									<string>0</string>
									<key>posAbs</key>
									<string>0,0</string>
									<key>posRel</key>
									<string>0.5,0.5</string>
									<key>sizeAbs</key>
									<string>0,0</string>
									<key>sizeRel</key>
									<string>1,0.66</string>
									<key>vAlignment</key>
									<string>center</string>
								</dict>
							</array>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>name</key>
							<string>confirm</string>
							<key>normal</key>
							<string>purple_btn_big.png</string>
							<key>normalSize</key>
							<string>520,108</string>
							<key>posAbs</key>
							<string>0,0</string>
							<key>posRel</key>
							<string>0.5,0.6</string>
							<key>scaleX</key>
							<string>0.8</string>
							<key>scaleY</key>
							<string>0.8</string>
							<key>selected</key>
							<string>purple_btn_big_selected.png</string>
							<key>selectedSize</key>
							<string>520,108</string>
							<key>selector</key>
							<string>confirm</string>
							<key>sizeAbs</key>
							<string>520,108</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
						<dict>
							<key>anchor</key>
							<string>0.5,0.5</string>
							<key>children</key>
							<array>
								<dict>
									<key>anchor</key>
									<string>0.5,0.5</string>
									<key>class</key>
									<string>LabelTTF</string>
									<key>content</key>
									<string>Don't change</string>
									<key>fontName</key>
									<string>NotoSansUI-Bold</string>
									<key>fontSize</key>
									<string>34</string>
									<key>hAlignment</key>
									<string>center</string>
									<key>localizable</key>
									<string>0</string>
									<key>posAbs</key>
									<string>0,0</string>
									<key>posRel</key>
									<string>0.5,0.5</string>
									<key>sizeAbs</key>
									<string>0,0</string>
									<key>sizeRel</key>
									<string>1,1</string>
									<key>vAlignment</key>
									<string>center</string>
								</dict>
							</array>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>name</key>
							<string>cancel</string>
							<key>normal</key>
							<string>purple_btn_big.png</string>
							<key>normalSize</key>
							<string>520,108</string>
							<key>posAbs</key>
							<string>0,0</string>
							<key>posRel</key>
							<string>0.5,0.6</string>
							<key>scaleX</key>
							<string>0.8</string>
							<key>scaleY</key>
							<string>0.8</string>
							<key>selected</key>
							<string>purple_btn_big_selected.png</string>
							<key>selectedSize</key>
							<string>520,108</string>
							<key>selector</key>
							<string>cancel</string>
							<key>sizeAbs</key>
							<string>520,108</string>
							<key>sizeRel</key>
							<string>0,0</string>
							<key>visible</key>
							<string>0</string>
						</dict>
						<dict>
							<key>anchor</key>
							<string>0.5,0.5</string>
							<key>children</key>
							<array>
								<dict>
									<key>anchor</key>
									<string>0,0.5</string>
									<key>class</key>
									<string>LabelTTF</string>
									<key>content</key>
									<string>Choose this look</string>
									<key>fontName</key>
									<string>NotoSansUI-Bold</string>
									<key>fontSize</key>
									<string>34</string>
									<key>hAlignment</key>
									<string>center</string>
									<key>localizable</key>
									<string>0</string>
									<key>posAbs</key>
									<string>0,0</string>
									<key>posRel</key>
									<string>0,0.5</string>
									<key>sizeAbs</key>
									<string>0,0</string>
									<key>sizeRel</key>
									<string>0.7,1</string>
									<key>vAlignment</key>
									<string>center</string>
								</dict>
								<dict>
									<key>anchor</key>
									<string>0.5,0.5</string>
									<key>class</key>
									<string>Sprite</string>
									<key>image</key>
									<string>blue_btn_big_overlay.png</string>
									<key>imageSize</key>
									<string>520,108</string>
									<key>name</key>
									<string>darkerBg</string>
									<key>posAbs</key>
									<string>0,0</string>
									<key>posRel</key>
									<string>0.5,0.5</string>
									<key>sizeAbs</key>
									<string>520,108</string>
									<key>sizeRel</key>
									<string>0,0</string>
									<key>zOrder</key>
									<string>1</string>
								</dict>
								<dict>
									<key>anchor</key>
									<string>1,0.5</string>
									<key>class</key>
									<string>LabelTTF</string>
									<key>content</key>
									<string>20</string>
									<key>fontName</key>
									<string>NotoSansUI-Bold</string>
									<key>fontSize</key>
									<string>34</string>
									<key>hAlignment</key>
									<string>right</string>
									<key>localizable</key>
									<string>0</string>
									<key>name</key>
									<string>priceLabel</string>
									<key>posAbs</key>
									<string>-95,0</string>
									<key>posRel</key>
									<string>1,0.5</string>
									<key>sizeAbs</key>
									<string>1,0</string>
									<key>sizeRel</key>
									<string>0.2,1</string>
									<key>vAlignment</key>
									<string>center</string>
									<key>zOrder</key>
									<string>2</string>
								</dict>
								<dict>
									<key>anchor</key>
									<string>1,0.5</string>
									<key>class</key>
									<string>Sprite</string>
									<key>image</key>
									<string>gem_icon.png</string>
									<key>imageSize</key>
									<string>60,56</string>
									<key>name</key>
									<string>gem</string>
									<key>posAbs</key>
									<string>-20,0</string>
									<key>posRel</key>
									<string>1,0.5</string>
									<key>rotation</key>
									<string>348.614</string>
									<key>scaleX</key>
									<string>1.2</string>
									<key>scaleY</key>
									<string>1.2</string>
									<key>sizeAbs</key>
									<string>60,56</string>
									<key>sizeRel</key>
									<string>0,0</string>
									<key>zOrder</key>
									<string>2</string>
								</dict>
							</array>
							<key>class</key>
							<string>MenuItemImage</string>
							<key>name</key>
							<string>buy</string>
							<key>normal</key>
							<string>blue_btn_big.png</string>
							<key>normalSize</key>
							<string>520,108</string>
							<key>posAbs</key>
							<string>0,0</string>
							<key>posRel</key>
							<string>0.5,0.6</string>
							<key>scaleX</key>
							<string>0.8</string>
							<key>scaleY</key>
							<string>0.8</string>
							<key>selected</key>
							<string>btn_blue_selected.png</string>
							<key>selectedSize</key>
							<string>392,108</string>
							<key>selector</key>
							<string>buy</string>
							<key>sizeAbs</key>
							<string>520,108</string>
							<key>sizeRel</key>
							<string>0,0</string>
							<key>visible</key>
							<string>0</string>
						</dict>
					</array>
					<key>class</key>
					<string>Menu</string>
					<key>name</key>
					<string>confirmMenu</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0,0</string>
					<key>sizeAbs</key>
					<string>0,0</string>
					<key>sizeRel</key>
					<string>1,0.15</string>
					<key>zOrder</key>
					<string>2</string>
				</dict>
			</array>
			<key>class</key>
			<string>Node</string>
			<key>name</key>
			<string>rootNode</string>
			<key>posAbs</key>
			<string>0,0</string>
			<key>posRel</key>
			<string>0,0</string>
			<key>sizeAbs</key>
			<string>0,0</string>
			<key>sizeRel</key>
			<string>1,1</string>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>device</key>
		<string>Custom</string>
		<key>deviceFactor</key>
		<string>1</string>
		<key>deviceSize</key>
		<string>750,1448</string>
		<key>shouldRemoveDevExt</key>
		<string>0</string>
		<key>version</key>
		<string>1.306</string>
	</dict>
</dict>
</plist>
