<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>anchor</key>
			<string>0.5,0.5</string>
			<key>cascadeOpacity</key>
			<string>1</string>
			<key>children</key>
			<array>
				<dict>
					<key>anchor</key>
					<string>0.5,0.5</string>
					<key>children</key>
					<array>
						<dict>
							<key>anchor</key>
							<string>0.5,0.5</string>
							<key>class</key>
							<string>LabelTTF</string>
							<key>color</key>
							<string>36,47,56</string>
							<key>content</key>
							<string>Welcome Back!</string>
							<key>fontName</key>
							<string>Agan45</string>
							<key>fontSize</key>
							<string>40</string>
							<key>hAlignment</key>
							<string>center</string>
							<key>localizable</key>
							<string>0</string>
							<key>name</key>
							<string>title</string>
							<key>posAbs</key>
							<string>0,50</string>
							<key>posRel</key>
							<string>0.5,0.83</string>
							<key>sizeAbs</key>
							<string>1,1</string>
							<key>sizeRel</key>
							<string>0.4,0.1</string>
							<key>vAlignment</key>
							<string>center</string>
						</dict>
						<dict>
							<key>anchor</key>
							<string>0.5,1</string>
							<key>class</key>
							<string>Sprite</string>
							<key>image</key>
							<string>popup_line.png</string>
							<key>imageSize</key>
							<string>400,2</string>
							<key>name</key>
							<string>titleLine</string>
							<key>posAbs</key>
							<string>0,-154</string>
							<key>posRel</key>
							<string>0.5,1</string>
							<key>sizeAbs</key>
							<string>400,2</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
						<dict>
							<key>anchor</key>
							<string>0.5,0.5</string>
							<key>class</key>
							<string>LabelTTF</string>
							<key>color</key>
							<string>36,47,56</string>
							<key>content</key>
							<string>Here's a little something to help you catch up...</string>
							<key>fontName</key>
							<string>Agan45</string>
							<key>fontSize</key>
							<string>32</string>
							<key>hAlignment</key>
							<string>center</string>
							<key>localizable</key>
							<string>0</string>
							<key>name</key>
							<string>description</string>
							<key>posAbs</key>
							<string>0,90</string>
							<key>posRel</key>
							<string>0.5,0.65</string>
							<key>sizeAbs</key>
							<string>492,150</string>
							<key>sizeRel</key>
							<string>0,0</string>
							<key>vAlignment</key>
							<string>center</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>anchor</key>
									<string>0.5,0.5</string>
									<key>children</key>
									<array>
										<dict>
											<key>anchor</key>
											<string>0.5,0.5</string>
											<key>class</key>
											<string>LabelTTF</string>
											<key>content</key>
											<string>Collect</string>
											<key>fontName</key>
											<string>Agan65</string>
											<key>fontSize</key>
											<string>44</string>
											<key>hAlignment</key>
											<string>center</string>
											<key>localizable</key>
											<string>0</string>
											<key>name</key>
											<string>confirmOnlyBtnLabel</string>
											<key>posAbs</key>
											<string>-0.0039063,-3</string>
											<key>posRel</key>
											<string>0.5,0.6</string>
											<key>sizeAbs</key>
											<string>0,0</string>
											<key>sizeRel</key>
											<string>0.5,0.7</string>
											<key>vAlignment</key>
											<string>center</string>
										</dict>
									</array>
									<key>class</key>
									<string>MenuItemImage</string>
									<key>disabled</key>
									<string>btn_purple_disabled.png</string>
									<key>disabledSize</key>
									<string>400,112</string>
									<key>name</key>
									<string>confirmOnlyBtn</string>
									<key>normal</key>
									<string>btn_purple.png</string>
									<key>normalSize</key>
									<string>400,112</string>
									<key>posAbs</key>
									<string>0,-118</string>
									<key>posRel</key>
									<string>0.5,0.4</string>
									<key>selected</key>
									<string>btn_purple_selected.png</string>
									<key>selectedSize</key>
									<string>410,110</string>
									<key>selector</key>
									<string>confirmBtnClicked</string>
									<key>sizeAbs</key>
									<string>392,108</string>
									<key>sizeRel</key>
									<string>0,0</string>
								</dict>
							</array>
							<key>class</key>
							<string>Menu</string>
							<key>name</key>
							<string>menu</string>
							<key>posAbs</key>
							<string>0,0</string>
							<key>posRel</key>
							<string>0,0</string>
							<key>sizeAbs</key>
							<string>0,0</string>
							<key>sizeRel</key>
							<string>1,1</string>
						</dict>
						<dict>
							<key>anchor</key>
							<string>0.5,0.5</string>
							<key>children</key>
							<array>
								<dict>
									<key>anchor</key>
									<string>0,0.5</string>
									<key>class</key>
									<string>Sprite</string>
									<key>image</key>
									<string>popup_tickets.png</string>
									<key>imageSize</key>
									<string>263,298</string>
									<key>name</key>
									<string>ticketIcon</string>
									<key>posAbs</key>
									<string>-47,0</string>
									<key>posRel</key>
									<string>0.5,0.5</string>
									<key>sizeAbs</key>
									<string>263,298</string>
									<key>sizeRel</key>
									<string>0,0</string>
								</dict>
								<dict>
									<key>anchor</key>
									<string>0,0.5</string>
									<key>class</key>
									<string>Sprite</string>
									<key>image</key>
									<string>generic_diamond_graphic.png</string>
									<key>imageSize</key>
									<string>480,380</string>
									<key>name</key>
									<string>gemIcon</string>
									<key>posAbs</key>
									<string>-47,0</string>
									<key>posRel</key>
									<string>0.1,0.5</string>
									<key>sizeAbs</key>
									<string>480,380</string>
									<key>sizeRel</key>
									<string>0,0</string>
								</dict>
								<dict>
									<key>anchor</key>
									<string>1,0.5</string>
									<key>class</key>
									<string>LabelTTF</string>
									<key>color</key>
									<string>36,47,56</string>
									<key>content</key>
									<string>+1</string>
									<key>fontName</key>
									<string>Agan75</string>
									<key>fontSize</key>
									<string>160</string>
									<key>hAlignment</key>
									<string>right</string>
									<key>localizable</key>
									<string>0</string>
									<key>name</key>
									<string>amountLabel</string>
									<key>posAbs</key>
									<string>0,-2</string>
									<key>posRel</key>
									<string>0.6,0.7</string>
									<key>shadowBlur</key>
									<string>0</string>
									<key>shadowEnabled</key>
									<string>1</string>
									<key>shadowOffset</key>
									<string>5,-5</string>
									<key>shadowOpacity</key>
									<string>0</string>
									<key>sizeAbs</key>
									<string>400,232</string>
									<key>sizeRel</key>
									<string>0,0</string>
									<key>vAlignment</key>
									<string>center</string>
									<key>zOrder</key>
									<string>1</string>
								</dict>
							</array>
							<key>class</key>
							<string>Node</string>
							<key>name</key>
							<string>rewardNode</string>
							<key>posAbs</key>
							<string>0,16</string>
							<key>posRel</key>
							<string>0.5,0.5</string>
							<key>sizeAbs</key>
							<string>400,300</string>
							<key>sizeRel</key>
							<string>0,0</string>
						</dict>
					</array>
					<key>class</key>
					<string>CESprite9Slice</string>
					<key>image</key>
					<string>popup_background.png</string>
					<key>imageSize</key>
					<string>750,600</string>
					<key>marginBottom</key>
					<string>0.33333</string>
					<key>marginLeft</key>
					<string>0.333333</string>
					<key>marginRight</key>
					<string>0.33333</string>
					<key>marginTop</key>
					<string>0.33333</string>
					<key>name</key>
					<string>background</string>
					<key>posAbs</key>
					<string>0,0</string>
					<key>posRel</key>
					<string>0.5,0.5</string>
					<key>sizeAbs</key>
					<string>1,1</string>
					<key>sizeRel</key>
					<string>1,1</string>
				</dict>
			</array>
			<key>class</key>
			<string>NodeRGBA</string>
			<key>name</key>
			<string>rootNode</string>
			<key>posAbs</key>
			<string>0,0</string>
			<key>posRel</key>
			<string>0.5,0.5</string>
			<key>sizeAbs</key>
			<string>708,916</string>
			<key>sizeRel</key>
			<string>0,0</string>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>device</key>
		<string>Custom</string>
		<key>deviceFactor</key>
		<string>1</string>
		<key>deviceSize</key>
		<string>750,1448</string>
		<key>shouldRemoveDevExt</key>
		<string>0</string>
		<key>version</key>
		<string>1.306</string>
	</dict>
</dict>
</plist>
